.container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.shade {
  position: absolute;
  width: 100%;
  height: calc(100vh - 43px - 30px);
  transition: opacity 0.5s;
  pointer-events: none;
}

@media only screen and (max-width: 750px) {

  .shade {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .hidden-menu > .shade {
    opacity: 0;
  }
}