main {
  display: none;
  /* grid-area: main; */
  /* flex: 1; */
  width: calc(100% - var(--aside-width));
  height: calc(100vh - 43px - 30px);
  font-family: 'Roboto', sans-serif;
  padding: 30px 55px 0 55px;
  display: inline-block;
  transition: all 0.5s;
  position: absolute;
  left: 300px;
}

main.hidden-menu {
  width: 100%;
  left: 0;
}

main img {
  height: 18px;
  width: 18px;
  margin: 0 15px;
  filter: invert(49%) sepia(4%) saturate(20%) hue-rotate(317deg) brightness(101%) contrast(84%);
}

#project_header {
  display: flex;
  align-items: center;
  width: 100%;
}

.tasks {
  margin-top: 40px;
}

h2 {
  margin-right: auto;
  font-weight: 700;
}

h4 {
  font-weight: 400;
}

input[type=checkbox] {
  accent-color: var(--red);
  margin-right: 20px;
  border: 0px;
  width: 20px;
  height: 18px;
}

.todo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
}

.todo_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 10px;
}

.todo_content span {
  cursor: pointer;
}

.todo_content p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--dark-grey);
  font-size: 12px;
}

.add_task {
  color: var(--dark-grey);
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}

.add_task:hover {
  background-color: var(--grey);
}

.add_task img {
  filter: invert(44%) sepia(51%) saturate(1561%) hue-rotate(329deg) brightness(83%) contrast(104%);
}

@media only screen and (max-width: 750px) {
  main {
    width: 100%;
    left: 0;
  }

/*   .shade.toggleable {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
  } */
}