.new-task {
  position: absolute;
  width: 400px;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-radius: 10px;
  z-index: 4;
  box-shadow: 0 0 20px 10px #444444;
}

.new-task form {
  /* height: 150px; */
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.new-task label {
  margin-top: 10px;
}

.new-task input {
  height: 30px;
  padding: 10px;
  color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 5px;
}

.new-task input[type=text] {
  font-family: monospace;
  font-size: 1.1rem;
} 

.new-task textarea {
  height: 150px;
  padding: 10px;
  color: var(--dark-grey);
  border: 1px solid var(--grey);
  border-radius: 5px;
  resize: none;
}

.new-task__footer {
  padding: 14px 30px;
  display: flex;
  justify-content: end;
  gap: 8px;
  border-top: 1px solid var(--grey);
}

.new-task__footer button {
  font-family: inherit;
  font-weight: 700;
  padding: 7px 14px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.new-task__footer button#add {
  background-color: var(--red);
  color: white;
}

.new-task__footer button:hover {
  border: 1px solid var(--dark-grey);
}